/*Home Page styling*/

.navbar navbar-expand-lg bg-body-tertiary{
    
}

h1{
   font-size: 32;
}

.headset1{
    
}

#.schedule{

}

#select-time{
background-color: yellow;
}

.body{
  text-align: center;
  
}


/*About Page styling */






/*Doc Page Styling8 */